body
{
    background-color:rgb(183, 196, 207) ;
}

.gird-contain
{
display: grid;
grid-template-columns: 10% auto 20%;
grid-gap: 10px;
}
.gird-contain > div
{
    font-size: 30px;
    background-color:rgb(238, 227, 203) ;
}
#header 
{
    grid-column: 1/ span 3;
    text-align:  center;
}
#menu
{
    grid-column: 1/ span 1;
}
#main
{
    grid-column: 2/ span 1;
}
#right
{
    grid-column: 3/ span 1;
}
#footer
{
    grid-column: 1/ span 3;
}

@media only screen and (max-width: 767px)
{
    .gird-contain
    {
        display: grid;
        grid-template-columns: auto 20%;
        grid-gap: 10px;
    }
    #header 
    {
        grid-column: 1/ span 2;
    }
    #menu
    {
        grid-column: 1/ span 2;
    }
    #main
    {
        grid-column: 1/ span 1;
    }
    #right
    {
        grid-column: 2/ span 1;
    }
    #footer
    {
        grid-column: 1/ span 2;
    }
}
@media only screen and (max-width: 500px)
{
    .gird-contain
    {
        display: grid;
        grid-template-columns: auto ;
        grid-gap: 10px;
    }
    #header 
    {
        grid-column: 1/ span 1;
    }
    #menu
    {
        grid-column: 1/ span 1;
    }
    #main
    {
        grid-column: 1/ span 1;
    }
    #right
    {
        grid-column: 1/ span 1;
    }
    #footer
    {
        grid-column: 1/ span 1;
    }
}
.headers
{
    font-size: 50px;
    text-align: center;
}
.img1
{
    float: right;
}
div.polaroid
{
    float: right;
    width: 40%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}
  
div.container 
{
    text-align: center;
    padding: 10px 20px;
}
.text2
{
    text-align: center;
}
